/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
| 
| All the global things go here.
| 
*/


// Border-box all around baby.
*, *:before, *:after { @include box-sizing( border-box ); }



// Base document styles.
html, body {
	background: white;
	color: #333;
	font: normal 18px/24px $font-primary, $helvetica;
	margin: 0;
	padding: 0;
}


// Specific grid styling for the main content and sidebar elements.
#content {
	@include span-columns( 8 of 12 , table );
	vertical-align: top;
}

#sidebar {
	@include span-columns( 4 of 12 , table );
	vertical-align: top;
}

