/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
| 
| All the global things go here.
| 
*/


// Border-box all around baby.
*, *:before, *:after { @include box-sizing( border-box ); }


body {
	background: white;
	@include font( normal , 16px , #{$font-primary, $helvetica} , $colour-body );
}


// Specific grid styling for the main content and sidebar elements.
#content {
	@include span-columns( 8 of 12 , table );
	vertical-align: top;
}

#sidebar {
	@include span-columns( 4 of 12 , table );
	vertical-align: top;
}

// WordPress image alignment.
.entry-content {
	img {
		&.alignleft, &.alignright, &.aligncenter { margin-bottom: 20px; }
		&.alignleft { float: left; margin-right: 20px; }
		&.alignright { float: right; margin-left: 20px; }
		&.aligncenter { margin: 0 auto; }
	}
}

