// Vertical and horizontal lists.
ul, ol {
	// Vertical and horizontal lists.
	&.vertical, &.horizontal {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	&.vertical {
		&.expanded > li {
			line-height: 1.3em;

			+ li { margin-top: 5px; }
		}
	}
	&.horizontal {
		> li { float: left; }

		&.expanded > li + li {
			margin-left: 10px;
		}
	}
	
	// Table-styled list.
	&.table {
		display: table;
		width: 100%;
		
		> li {
			display: table-cell;
			float: none;
			
			> a { display: block; }
		}
	}
}

// Bitters overrides the default list styles to have no styles - we don't want that.
ul { @extend %default-ul; }
ol { @extend %default-ol; }




// Vertical alignment.
.align-top    { vertical-align: top; }
.align-middle { vertical-align: middle; }
.align-bottom { vertical-align: bottom; }



// Hide elements when they reach a specific breakpoint.
.hide-on-small-screen {
	@include media( $small-screen ) {
		display: none !important;
	}
}
.hide-on-mobile {
	@include media( $mobile ) {
		display: none !important;
	}
}
.hide-on-tablet {
	@include media( $tablet ) {
		display: none !important;
	}
}
.hide-on-mobile-down {
	@include media( $mobile-down ) {
		display: none !important;
	}
}
.hide-on-tablet-down {
	@include media( $tablet-down ) {
		display: none !important;
	}
}

.show-on-small-screen {
	display: none !important;
	
	@include media( $small-screen ) {
		display: inherit !important;
	}
}
.show-on-mobile {
	display: none !important;
	
	@include media( $mobile ) {
		display: inherit !important;
	}
}
.show-on-tablet {
	display: none !important;
	
	@include media( $tablet ) {
		display: inherit !important;
	}
}
.show-on-handheld {
	@extend .show-on-small-screen;
	@extend .show-on-mobile;
	@extend .show-on-tablet;
}



.hidden { display: none !important; }



img.responsive {
	height: auto;
	max-width: 100%;
	width: 100%;
}



.responsive-video {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	
	iframe, object, embed {
		@include position( absolute , 0px 0 0 0px );
		@include size( 100% );
	}
}
