/*
|--------------------------------------------------------------------------
| Layout styles
|--------------------------------------------------------------------------
| 
| All styles related to the grid and elements that control the layout
| of the page.
| 
*/


// Layout and grid.
.container {
	@include outer-container;
	padding-left: $container-padding;
	padding-right: $container-padding;
	position: relative;
}

.column-full { @include fill-parent; }

// Normal columns - based on display block.
.row { @include row; }

.column-half { @include span-columns( 6 of 12 ); }
.column-third { @include span-columns( 4 of 12 ); }
.column-two-thirds { @include span-columns( 8 of 12 ); }
.column-quarter { @include span-columns( 3 of 12 ); }
.column-fifth { @include span-columns( 2.4 of 12 ); }

// Table columns -  based on display table.
.row-table { @include row( table ); }

.column-half-table { @include span-columns( 6 of 12 , table ); }
.column-third-table { @include span-columns( 4 of 12 , table ); }
.column-two-thirds-table { @include span-columns( 8 of 12 , table ); }
.column-quarter-table { @include span-columns( 3 of 12 , table ); }
.column-fifth-table { @include span-columns( 2.4 of 12 , table ); }

.column-half-table,
.column-third-table,
.column-two-thirds-table,
.column-quarter-table,
.column-fifth-table { vertical-align: top; }

// IE8 retardedness fix. Since IE8 doesn't understand last-child, we have to manually reset
// last column's margin-right back to 0 so everything fits nicely.
.column-last, .omega,
.column-half + .column-half,
.column-third + .column-third + .column-third,
.column-third + .column-two-thirds,
.column-two-thirds + .column-third,
.column-quarter + .column-quarter + .column-quarter + .column-quarter,
.column-fifth + .column-fifth + .column-fifth + .column-fifth + .column-fifth {
	@include omega;
}
