# Protect WordPress config files.
<files wp-config.php>
	order allow,deny
	deny from all
</files>
<files wp-config-local.php>
	order allow,deny
	deny from all
</files>
<files wp-config-staging.php>
	order allow,deny
	deny from all
</files>
<files wp-config-production.php>
	order allow,deny
	deny from all
</files>

<Files wp-content/install.php>
	Order Allow,Deny
	Deny from all
</Files>

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{HTTP_HOST} ^local-site\.dev$
# RewriteRule ^.*/(uploads/.*)$ http://remote-site.com/wp-content/$1 [L,R=301,NC]

# BEGIN WordPress
	<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>

# END WordPress
