/*
|--------------------------------------------------------------------------
| Config
|--------------------------------------------------------------------------
| 
| Store all our variables here, they will be available throughout all the
| SCSS files.
| 
*/


// Debugging.
$debug: true;


// Fonts.
$font-primary: 'my-custom-font';


// Colours.
$colour-primary:   #BADA55;
$colour-secondary: #B00B1E;
$colour-tertiary:  #666;


// Directories.
$img: '../img/';


// Breakpoints.
$large-screen: new-breakpoint( min-width 1200px 12 );
$desktop:      new-breakpoint( min-width 1024px 12 );
$tablet:       new-breakpoint( min-width 768px max-width 1023px 12 );
$mobile:       new-breakpoint( min-width 641px max-width 767px 12 );
$small-screen: new-breakpoint( max-width 640px 12 );

$tablet-down:  new-breakpoint( max-width 1023px 12 );
$mobile-down:  new-breakpoint( max-width 767px 12 );