/*
|--------------------------------------------------------------------------
| Config
|--------------------------------------------------------------------------
| 
| Store all our variables here, they will be available throughout all the
| SCSS files.
| 
*/



// Fonts.
$font-custom: 'my-custom-font';


// Colours.
$colour-primary:   #BADA55;
$colour-secondary: #B00B1E;


// Directories.
$img: '../img/';