/*
|--------------------------------------------------------------------------
| Debug
|--------------------------------------------------------------------------
| 
| This is a very simple debug stylesheet. It allowes us to know exactly
| when a responsive breakpoint kicks in.
| 
| Change the #header h1 to whatever element you want.
| 
*/

@if $debug {
	#header h1:after {
		@include media( $tablet ) {
			content: ' TABLET';
		}
		@include media( $mobile ) {
			content: ' MOBILE';
		}
		@include media( $small-screen ) {
			content: ' SMALL SCREEN';
		}
	}
}