/*
|--------------------------------------------------------------------------
| Config
|--------------------------------------------------------------------------
| 
| Store all our variables here, they will be available throughout all the
| SCSS files.
| 
*/


// Debugging.
$debug: true;


// Fonts.
$font-primary: 'my-custom-font';


// Global colour declarations.
$colour-primary:   #BADA55;
$colour-secondary: #B00B1E;

$colour-body: #333;
$colour-links: $colour-primary;
$colour-links-hover: darken( $colour-links , 6 );


// Directories - define a relative path to the images directory.
$img: '../img/';


$container-padding: 30px;


// Overrides for neat grids.
$max-width: 960px + ( $container-padding * 2 );
$border-box-sizing: false;