/*
|--------------------------------------------------------------------------
| Config
|--------------------------------------------------------------------------
| 
| Store all our variables here, they will be available throughout all the
| SCSS files.
| 
*/


// Debugging.
$debug: true;


// Fonts.
$font-primary: 'my-custom-font';

$base-font-size: 100%;
$base-line-height: 1.3; // This is multiplied by the base-font-size value.

// Global colour declarations.
$colour-primary:   #BADA55;
$colour-secondary: #B00B1E;

$colour-body: #333;
$colour-links: $colour-primary;
$colour-links-hover: darken( $colour-links , 6 );


// Directories - define a relative path to the images directory.
$img: '../img/';
